$default-color-line: #B1B9C0;
$default-color-minify-btn: #FAFAFA;
$default-link-color: #2d353c;

$theme-black-color-minify-btn: #1b1f24;
$theme-black-color-line: #10181F;
$theme-black-link-color: #a8acb1;

.wrap-sidebar-page-content {
  margin-left: 220px;
}

.sidebar {
  width: 220px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 54px;
  z-index: 10;
  -webkit-transform: translateZ(0);
  background: #ffffff;

  &.theme-black {
    background: #2d353c;
  }

  .nav > li:after,
  .nav > li:before,
  .nav > li > a:after,
  .nav > li > a:before {
    content: '';
    clear: both;
    display: table
  }

  .nav > li > a {
    padding: 8px 20px;
    line-height: 20px;
    color: $default-link-color;
  }

  .sub-menu>li>a:before {
    content: '\2022';
    font-family: Arial,sans-serif;
    position: absolute;
    left: 0;
    font-size: 24px;
    top: 50%;
    margin-top: -18px;
    margin-left: -7px;
    color: $default-color-line;
  }
  &.theme-black .sub-menu>li>a:before {
    background: $theme-black-link-color;
  }

  .sub-menu > li.active > a,
  .sub-menu > li.active > a:focus,
  .sub-menu > li.active > a:hover,
  .sub-menu > li > a:focus,
  .sub-menu > li > a:hover {
    color: #000
  }

  &.theme-black .nav > li > a {
    color: $theme-black-link-color;
  }
  .nav > li > a .caret {
    float: right;
    margin-top: 9px
  }
  .has-sub.active > .sub-menu {
    display: block
  }
  .sub-menu {
    list-style-type: none;
    padding: 10px 0 10px 30px;
    margin: 0;
    position: relative;
    display: none
  }
  &.theme-black .sub-menu {
    background: #1a2229;
  }
  .nav>li>a i {
    margin-right: 15px;
    width: 14px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    float: left;
  }
  .nav>li .sub-menu:before {
    background: #default-color-line;
  }
  &.theme-black .nav>li .sub-menu:before {
    background: $theme-black-color-line;
  }
  .sub-menu:before {
    content: '';
    position: absolute;
    left: 26px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: $default-color-line;
  }
  .sub-menu > li > a {
    padding: 5px 20px;
    display: block;
    font-weight: 300;
    color: #889097;
    text-decoration: none;
    position: relative
  }

  .sidebar-minify-btn {
    margin: 10px 0;
    float: right;
    padding: 5px 20px 5px 10px !important;
    background: $default-color-minify-btn;
    color: #333;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px
  }

  &.theme-black .sidebar-minify-btn{
    background: $theme-black-color-minify-btn;
  }

  .nav>li.expand>a
  .nav>li>a:focus,
  .nav>li>a:hover{
    background: #f0f3f4;
  }

}

.page-sidebar-minified {

  .sidebar {
    width: 60px;
    position: absolute
  }
  .sidebar-bg {
    width: 60px
  }

  .wrap-sidebar-page-content {
    margin-left: 60px;
  }

  .sidebar {

    .caret {
      position: absolute;
      top: 9px;
      right: 9px;
      border: 4px solid transparent;
      border-left: 4px solid
    }
    .sub-menu .caret {
      top: 10px;
      margin-top: 0 !important
    }

    // hide label
    .nav-header, .nav-profile, .nav > li > a > span {
      display: none
    }

    .nav > li > a {
      padding: 12px 20px
    }

    .nav > li > a > i {
      margin: 0
    }
    .nav li.has-sub > .sub-menu {
      position: absolute;
      left: 100%;
      top: 0;
      width: 220px;
      display: none;
      padding: 10px 0 10px 30px;
      margin: 0;
      background: #1a2229;
    }

    .nav > li.has-sub:focus > a,
    .nav > li.has-sub:hover > a {
      background: #232a2f
    }

    li.has-sub > .sub-menu {
      display: none !important
    }

    li.has-sub:focus > .sub-menu,
    li.has-sub:hover > .sub-menu {
      display: block !important;
      overflow: visible !important
    }

    .nav li.has-sub {
      position: relative
    }

    .nav > li.has-sub li.has-sub .sub-menu {
      margin-top: -10px
    }

    .sidebar-minify-btn i:before {
      content: '\f101'
    }
  }
}

/*
.page-sidebar-minified.page-with-right-sidebar .content {
  margin-right: 60px;
  margin-left: 0
}

.page-sidebar-minified.page-with-right-sidebar .footer {
  margin-right: 85px;
  margin-left: 25px
}

.page-sidebar-minified.page-with-right-sidebar .sub-menu {
  left: auto !important;
  right: 100%
}

.page-sidebar-minified.page-with-right-sidebar .nav > li.has-sub > a .caret {
  position: absolute;
  left: 5px;
  border: 4px solid transparent;
  border-right: 4px solid
}

.page-sidebar-minified.page-with-right-sidebar .sidebar .sub-menu .caret {
  left: 0;
  top: 2px;
  border-left: 4px solid transparent !important;
  border-right: 4px solid !important
}

.page-sidebar-minified.page-with-right-sidebar .sidebar .nav li.has-sub > .sub-menu {
  padding: 10px 30px 10px 0
}

.page-sidebar-minified.page-with-right-sidebar .sidebar .sub-menu:before {
  right: 26px;
  left: auto
}

.page-sidebar-minified.page-with-right-sidebar .sidebar .sub-menu > li > a:before {
  right: 0;
  left: auto;
  margin-right: -6px;
  margin-left: 0
}

.page-sidebar-minified.page-with-right-sidebar .sidebar-minify-btn i:before {
  content: '\f100'
}*/
/*
.page-sidebar-minified .sidebar .slimScrollBar, .page-sidebar-minified .sidebar .slimScrollRail {
  display: none !important
}*/
